<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- System/Light/Dark-->
		<add key="App Theme" value="System"/>
		<!-- Acrylic/Mica/Tabbed/None -->
		<add key="Window Backdrop Type" value="Acrylic"/>
		<!-- System/Source Han Sans SC -->
		<add key="App Font" value="Source Han Sans SC"/>
	</appSettings>
</configuration>